body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  /* font: "Montserrat-Black"; */
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

#title .col-lg-6 {
  padding: 0;
}

#iphone {
  width: 60%;
  transform: rotate(25deg);
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  font-family: "Ubuntu-Medium";
  padding: 0 0 4.5rem;
}

.nav-link {
  padding: 0px 18px;
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  border: 1px;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features section */
#features {
  padding: 7% 15%;
}

#features h3 {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

.fa-check-circle,
.fa-bullseye,
.fa-heart {
  color: rgba(226, 74, 74, 0.726);
  margin-bottom: 1rem;
}

.fa-check-circle:hover,
.fa-bullseye:hover,
.fa-heart:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  text-align: center;
  padding: 100px;
}

#pricing .card {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 18px 0px;
}

/* Footer */
#footer {
  background-color: #ff4c68;
  color: white;
  padding: 0px 8px;
  margin-bottom: 0px;
}
